* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

body {
    background-color: darkslategrey;
    margin: min(5vh, 5vw);
}

#gameboard {
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width: min(90vh,90vw);
    height: min(90vh,90vw);
}

#gameboard>div {
    width: min(30vh,30vw);
    height: min(30vh,30vw);
    font-size: min(30vh,30vw);
    font-weight: bold;
    text-align: center;
}